/* sass --watch styles/scss/style.scss:styles/style.css */
/* sass --watch styles/scss:styles/ */
/* Declare Variables */
body {
  color: rgba(74, 74, 74, 0.7); }

nav {
  min-width: 70%;
  margin: 0 auto 50px auto;
  max-width: 1310px;
  padding: 12px; }
  nav span {
    color: #ce973e;
    text-transform: uppercase;
    font-size: 30px; }
  nav li {
    list-style: none;
    text-align: right; }
    nav li a {
      color: rgba(74, 74, 74, 0.7);
      font-weight: bold;
      font-size: 18px; }
    nav li a:hover {
      color: black; }
    nav li:nth-child(4) {
      border-right: 2px solid rgba(74, 74, 74, 0.7); }
  nav ul {
    margin-bottom: 0;
    padding-left: 0;
    width: 50%;
    justify-content: flex-end; }

#mainHeader div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  #mainHeader div h1 {
    color: #ce973e;
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 35px; }
  #mainHeader div p {
    color: rgba(74, 74, 74, 0.7);
    font-size: 25px;
    margin-bottom: 80px; }
  #mainHeader div button {
    background-color: #6abfc3;
    color: white;
    border-radius: 5%;
    border: none;
    width: 350px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px; }
  #mainHeader div button:hover {
    background-color: #83cdd1; }

#howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px; }
  #howItWorks h2 {
    font-weight: bold;
    margin: 130px 0 70px 0;
    color: #4a4a4a; }
  #howItWorks p {
    font-size: 24px;
    line-height: 2;
    margin-bottom: 50px; }
  #howItWorks #howItWorksSub {
    max-width: 40%;
    min-width: 475px;
    margin-bottom: 160px; }
  #howItWorks #learnBuildConnectContainer {
    width: 85%;
    margin: 0 auto; }
    #howItWorks #learnBuildConnectContainer .learnBuildConnect img {
      height: 200px; }
    #howItWorks #learnBuildConnectContainer .learnBuildConnect h3 {
      color: #4a4a4a;
      font-weight: bold;
      margin: 50px 0 20px 0; }

#languageTiles {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; }
  #languageTiles h2 {
    font-weight: bold;
    margin: 130px 0 70px 0;
    color: #4a4a4a;
    margin-top: 100px; }
  #languageTiles ul {
    padding: 0 20px;
    max-width: 1152px;
    width: 90%; }
  #languageTiles a {
    list-style: none;
    background-color: white;
    padding: 20px 0;
    text-decoration: none;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 31.3333333333%; }
    #languageTiles a img {
      width: 80%;
      margin-bottom: 15px; }
    #languageTiles a h3 {
      color: #4a4a4a;
      font-weight: bolder; }
    #languageTiles a:nth-child(3n) {
      margin-right: 0; }
    #languageTiles a:nth-child(7) {
      margin-left: 17%; }
    @media screen and (max-width: 992px) {
      #languageTiles a {
        float: left;
        margin-right: 3%;
        margin-bottom: 3%;
        width: 48.5%;
        /* I have to include the below nth-childs because the grid mixin is not properly setting margins */ }
        #languageTiles a:nth-child(2n) {
          margin-right: 0; }
        #languageTiles a:nth-child(2n + 2) {
          margin-right: 0; }
        #languageTiles a:nth-child(2n + 1) {
          margin-right: 3%; }
        #languageTiles a:nth-child(7) {
          margin-left: 0%; } }
  #languageTiles button {
    background-color: #ce973e;
    color: white;
    border-radius: 5%;
    border: none;
    width: 250px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 60px 0; }
  #languageTiles button:hover {
    background-color: #e4b76f; }

/* 
        @mixin breakpoint($breakpoint) {
            @if $breakpoint == large {
                @media (min-width: 1200px) {
                    @include grid (3, 3%)
                }
            }
            @if $breakpoint == medium {
                @media (min-width: 992px) {
                    @include grid (3, 3%)
                }
            }
            @if $breakpoint == small {
                @media (max-width: 767px) {
                    @include grid (2, 3%)
                }
            }
        }
*/

/*# sourceMappingURL=style.css.map */
